{% extends "base.html" %} {% block announce %}
<span class="show-on-small right-margin">
  <span class="twemoji right-margin show-on-small move-down">
    {% include ".icons/fontawesome/solid/angles-down.svg" %}
  </span>
  Navigate the site here!
</span>
<span class="right-margin"> v0.2.0 is released! </span>
<span>
  <span class="twemoji">
    {% include ".icons/material/head-question.svg" %}
  </span>
  Questions?
  <a href="https://github.com/lnccbrown/HSSM/discussions">
    Open a discussion here!
  </a>
</span>
{% endblock %}
