[data-md-color-scheme="ocean"] {
  --md-primary-fg-color: #245c81;
  --md-accent-fg-color: #ec205b;
  --md-typeset-a-color: #338fb8;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #245c81;
  --md-accent-fg-color: #ec205b;
  --md-typeset-a-color: #00b4b5;
}

.md-header-nav__title img {
  height: 200px; /* adjust size as needed */
  width: 200px; /* adjust size as needed */
}

.md-typeset h1 {
  font-weight: 300;
}

h2 {
  font-weight: 700;
}

.md-header-__title {
  font-size: 1rem;
}

div .md-sidebar__inner {
  margin-left: 0.2rem;
}

div .md-sidebar__inner nav .md-nav__list {
  margin-left: 0.2rem;
}

div .md-sidebar__inner {
  margin-left: 0.2rem;
}

#wrapper {
  display: grid;
  grid-template-columns: 33.334% 66.667%;
}

#main-logo {
  text-align: center;
}

#main-title {
  padding-top: 1.3em;
  padding-left: 1em;
}

.right-margin {
  margin-right: 10px;
}

@media screen and (min-width: 1220px) {
  .show-on-small {
    display: none;
  }
}

.move-down {
  transform: translate(0px, -5px);
  animation: down_movement 1000ms infinite ease-out;
}

@keyframes down_movement {
  to {
    transform: translate(0px, 5px);
  }
}

.question {
  color: pink;
  width: 35px;
  height: 35px;
}

.md-typeset code {
  font-size: 0.7rem;
}

.md-typeset table:not([class]) {
  font-size: 0.7rem;
}
