# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/
tests/__pycache__
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/

# Also ignore lock files
poetry.lock
uv.lock

# Editor cruft
.idea/
.vscode/

# MacOS cruft
.DS_Store

__pycache__/

# mkdocs
docs/site
site/

# folders in the repository
/notebooks
/test_notebooks
/test_workshop

*.so
.python-version
uv.lock
explorations/
*.nbconvert.ipynb
pypi-token
pre-commit
.github/copilot-instructions.md
