site_name: HSSM
repo_name: lnccbrown/HSSM
repo_url: https://github.com/lnccbrown/HSSM/
edit_uri: edit/main/docs

nav:
  - Home:
      - Overview: index.md
      - Credits: credits.md
      - License: license.md
      - Changelog: changelog.md
  - Getting Started:
      - Getting HSSM:
          - Installation: getting_started/installation.md
      - Using HSSM:
          - Quickstart Guide: getting_started/getting_started.ipynb
          - Hierarchical modeling: getting_started/hierarchical_modeling.ipynb
  - API References:
      - HSSM core classes:
          - hssm.HSSM: api/hssm.md
          - hssm.Param: api/param.md
          - hssm.ModelConfig: api/model_config.md
          - hssm.Prior: api/prior.md
          - hssm.Link: api/link.md
      - Useful functions:
          - hssm.load_data: api/load_data.md
          - hssm.simulate_data: api/simulate_data.md
          - hssm.set_floatX: api/set_floatx.md
          - hssm.show_defaults: api/show_defaults.md
          - hssm.check_data_for_rl: api/check_data_for_rl.md
      - Likelihoods:
          - hssm.likelihoods: api/likelihoods.md
      - Working with distributions:
          - hssm.distribution_utils: api/distribution_utils.md
      - Plotting:
          - hssm.plotting: api/plotting.md
  - Tutorials:
      - Main tutorial: tutorials/main_tutorial.ipynb
      - Understanding likelihood functions in HSSM: tutorials/likelihoods.ipynb
      - Plotting: tutorials/plotting.ipynb
      - Using lapse probabilities: tutorials/lapse_prob_and_dist.ipynb
      - Variational Inference: tutorials/variational_inference.ipynb
      - Hierarchical Variational Inference: tutorials/variational_inference_hierarchical.ipynb
      - Using HSSM low-level API directly with PyMC: tutorials/pymc.ipynb
      - Reinforcement Learning - Sequential Sampling Models (RLSSM): tutorials/rlssm_tutorial.ipynb
      - Add custom RLSSM models: tutorials/add_custom_rlssm_model.ipynb
      - Custom models: tutorials/jax_callable_contribution_onnx_example.ipynb
      - Custom models from onnx files: tutorials/blackbox_contribution_onnx_example.ipynb
      - Using compiled log-likelihood functions: tutorials/compile_logp.ipynb
      - Saving and loading models: tutorials/save_load_tutorial.ipynb
      - Bayesian t-test: tutorials/tutorial_bayesian_t_test.ipynb
      - Using the do-operator: tutorials/do_operator.ipynb
      - Getting trial-wise parameters: tutorials/tutorial_trial_wise_parameters.ipynb
      - Stim Coding: tutorials/tutorial_stim_coding.ipynb
      - P-outlier Regression: tutorials/tutorial_p_outlier_regression.ipynb
      - Sampling with Bayeux: tutorials/tutorial_bayeux.ipynb
  - Contributed Tutorials:
      - Winterbrain 2025 Workshop Talk 1: tutorials/hssm_tutorial_workshop_1.ipynb
      - Winterbrain 2025 Workshop Talk 2: tutorials/hssm_tutorial_workshop_2.ipynb
      - Scientific Workflow: tutorials/scientific_workflow_hssm.ipynb
      - MathPsych Workshop 2025: tutorials/pymc_to_hssm.ipynb

  - Contributing:
      - Developing locally: local_development.md
      - Contributing: CONTRIBUTING.md

plugins:
  - search
  - autorefs
  - mkdocs-jupyter:
      execute: true
      execute_ignore:
        - getting_started/getting_started.ipynb
        - getting_started/hierarchical_modeling.ipynb
        - tutorials/main_tutorial.ipynb
        - tutorials/likelihoods.ipynb
        - tutorials/variational_inference.ipynb
        - tutorials/variational_inference_hierarchical.ipynb
        - tutorials/initial_values.ipynb
        - tutorials/pymc.ipynb
        - tutorials/jax_callable_contribution_onnx_example.ipynb
        - tutorials/blackbox_contribution_onnx_example.ipynb
        - tutorials/compile_logp.ipynb
        - tutorials/do_operator.ipynb
        - tutorials/save_load_tutorial.ipynb
        - tutorials/tutorial_bayesian_t_test.ipynb
        - tutorials/tutorial_trial_wise_parameters.ipynb
        - tutorials/tutorial_stim_coding.ipynb
        - tutorials/tutorial_p_outlier_regression.ipynb
        - tutorials/hssm_tutorial_workshop_1.ipynb
        - tutorials/hssm_tutorial_workshop_2.ipynb
        - tutorials/add_custom_rlssm_model.ipynb
        - tutorials/rlssm_tutorial.ipynb
        - tutorials/lapse_prob_and_dist.ipynb
        - tutorials/plotting.ipynb
        - tutorials/scientific_workflow_hssm.ipynb
        - tutorials/pymc_to_hssm.ipynb
        - tutorials/rlssm_rlwm_model.ipynb
        - tutorials/tutorial_bayeux.ipynb
        - .ipynb_checkpoints/*.ipynb
      allow_errors: false
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://mkdocstrings.github.io/objects.inv
            - https://mkdocstrings.github.io/griffe/objects.inv
          options:
            separate_signature: true
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true
            docstring_style: numpy
            docstring_section_style: list
            show_root_members_full_path: true
            show_object_full_path: false
            show_category_heading: false
            show_signature_annotations: true
            show_docstring_attributes: false
            show_source: false
            show_root_heading: true
            group_by_category: true
            signature_crossrefs: false
            summary: true
            line_length: 80
            unwrap_annotated: false
            modernize_annotations: true
            filters:
              - "!^_"
theme:
  logo: images/navlogo.png
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.top
    - content.code.copy
    - content.action.view
    - content.action.edit
    - header.autohide
    - announce.dismiss
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: ocean
      primary: custom
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: ocean
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  homepage: "https://lnccbrown.github.io/HSSM/"

extra_css:
  - "styles/extra.css"

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
