name: Publish tagged releases to PyPI

on:
  release:
    types:
      - published

jobs:
  lint_and_typecheck:
    name: Lint and type-check
    uses: ./.github/workflows/linting_and_type_checking.yml

  run_tests:
    name: Run tests
    uses: ./.github/workflows/run_tests.yml

  check_notebooks:
    name: Check notebooks
    uses: ./.github/workflows/check_notebooks.yml

  publish:
    name: Build wheel and publish to test-PyPI, then PyPI, and publish docs
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/setup-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build the wheel
        run: uv build

      - name: Publish to TestPyPI
        run: |
          uv publish --token ${{ secrets.TEST_PYPI_TOKEN }} --index testpypi

      - name: Publish to PyPI
        run: |
          uv publish --token ${{ secrets.PYPI_TOKEN }}

      - name: Build and publish docs
        run: uv run mkdocs gh-deploy --force
