name: Coverage

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      PYTENSOR_FLAGS: "blas__ldflags=-L/usr/lib/x86_64-linux-gnu -lblas -llapack"

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/setup-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run all tests with coverage
        run: uv run pytest --cov=src/hssm --cov-report=term-missing --cov-report=xml
        env:
          PYTENSOR_FLAGS: ${{ env.PYTENSOR_FLAGS }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
