name: Linting and type checking

on:
  pull_request:
  workflow_call:

jobs:
  run_tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/setup-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run mypy
        run: uv run mypy src/hssm

      - name: Check formatting
        run: uv run ruff format --check .

      - name: Linting
        run: uv run ruff check src/hssm
