name: Linting and type checking

on:
  pull_request:

jobs:
  run_tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Poetry environment
        uses: ./.github/actions/setup-poetry-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run mypy
        run: poetry run mypy src/hssm

      - name: Check formatting
        run: poetry run ruff format --check .

      - name: Linting
        run: poetry run ruff check src/hssm
