name: Run tests

on:
  pull_request:
  workflow_call:
    inputs:
      run_slow_tests:
        description: 'Whether to run slow tests'
        required: false
        default: false
        type: boolean

jobs:
  run_tests:
    runs-on: ubuntu-latest
    if: ${{ ! contains(github.event.head_commit.message, '[skip fast tests]') }}
    env:
      PYTENSOR_FLAGS: "blas__ldflags=-L/usr/lib/x86_64-linux-gnu -lblas -llapack"

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/setup-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run fast tests
        if: ${{ !inputs.run_slow_tests }}
        run: uv run pytest -m "not slow"
        env:
          PYTENSOR_FLAGS: ${{ env.PYTENSOR_FLAGS }}

      - name: Run all tests
        if: ${{ inputs.run_slow_tests }}
        run: uv run pytest
        env:
          PYTENSOR_FLAGS: ${{ env.PYTENSOR_FLAGS }}
