name: Run tests

on:
  pull_request:
  workflow_call:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    if: ${{ ! contains(github.event.head_commit.message, '[skip fast tests]') }}
    env:
      PYTENSOR_FLAGS: "blas__ldflags=-L/usr/lib/x86_64-linux-gnu -lblas -llapack"

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Poetry environment
        uses: ./.github/setup-poetry-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install hssm
        if: steps.cache.outputs.cache-hit != 'true'
        run: poetry install --no-interaction

      - name: Run tests and collect coverage
        run: poetry run pytest -n auto --cov=. --cov-report xml --cov-report term-missing --exitfirst tests/
        env:
          PYTENSOR_FLAGS: ${{ env.PYTENSOR_FLAGS }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
