name: Run slow tests

on:
  pull_request:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    if: ${{ ! contains(github.event.head_commit.message, '[skip slow tests]') }}
    env:
      PYTENSOR_FLAGS: "blas__ldflags=-L/usr/lib/x86_64-linux-gnu -lblas -llapack"

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Poetry environment
        uses: ./.github/actions/setup-poetry-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install hssm
        if: steps.cache.outputs.cache-hit != 'true'
        run: poetry install --no-interaction

      - name: Run slow tests
        run: poetry run pytest -s tests/slow
        env:
          PYTENSOR_FLAGS: ${{ env.PYTENSOR_FLAGS }}
